<div class="container">
	<div class="row">
		<div class="page-header text-center" style="border-bottom: none;">
			<h1>ALL CATEGORIES</h1>
		</div>
		<div class="row">
			<div class="col-sm-3" ng-repeat="category in category_list">
				<div class="panel panel-default">
				<div class="panel-body" id="category-heading">
					<a href="#" ng-click="showSubCategories($event, category.id)" class="sub_cat_id">{{ category.title }}</a>
				</div>
				</div>
	            <div id="{{ category.id }}" ng-show="show_sub_cat_{{ category.id }}">
	                <ul ng-repeat="sub_cat in category.sub_categories">
	                    <li>
	                        <a href="/category/{{ sub_cat.id }}" class="small">{{ sub_cat.title }}</a>
	                    </li>
	                </ul>
	            </div>
			</div>
		</div>
	</div>
</div>