<footer class="">
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-sm-4">
				<ul>
					<li><a href="#" id="footer_menu">About Us</a></li>
					<li><a href="#" id="footer_menu">Contact Us</a></li>
					<li><a href="#" id="footer_menu">Privacy Policy</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li><a href="/partner-registration/" id="footer_menu">Be a Zoobay Partner</a></li>
					<li><a href="/login/" id="footer_menu">Seller Login</a></li>
					<li>FAQ</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li>Careers</li>
				</ul>
			</div>
		</div>
	</div>
</footer>